# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git-examen\upc-si431-eb-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
